<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Venda Direta</title>
        <h:outputStylesheet library="css" name="estilos.css"/>
        <h:outputScript library="js" name="scripts.js"/>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true" />
    </h:head>

    <h:body>
        <p:growl id="mensagem" />

        <div id="geral">
            <div id="topo" class="divTopo">
                <p:graphicImage library="images" name="banner2.png" 
                                styleClass="imagemCentralizada"/>
            </div>

            <div id="cabecalho" class="divCabecalho">

                <h:form id="formMenu" class="form">
                    <p:menubar>
                        <p:submenu label="Arquivo" icon="ui-icon-document">
                            <p:menuitem value="Sair" action="#{autenticacaoBean.sair}" />
                        </p:submenu>

                        <p:submenu label="Cadastros" icon="ui-icon-newwin">
                            <p:menuitem value="Categorias" url="/pages/categoria.xhtml"/>
                            <p:menuitem value="Clientes" url="/pages/cliente.xhtml"/>
                            <p:menuitem value="Formas de Pagamento" url="/pages/formaPagamento.xhtml"/>
                            <p:menuitem value="Fornecedores" url="/pages/fornecedor.xhtml"/>
                            <p:menuitem value="Marcas" url="/pages/marca.xhtml"/>
                            <p:menuitem value="Pedidos" url="/pages/pedido.xhtml"/>
                            <p:menuitem value="Produtos" url="/pages/produto.xhtml"/>                          
                            <p:menuitem value="Produtos Pedido" url="/pages/produtoPedito.xhtml"/>
                            <p:menuitem value="Usuarios" url="/pages/usuario.xhtml"/>
                        </p:submenu>

                        <p:submenu label="Relatórios" icon="ui-icon-script">
                            <p:menuitem value="Vendas por Clientes" />
                            <p:menuitem value="Produtos Vendidos" />
                            <p:menuitem value="Gráfico" url="/pages/grafico.xhtml" />
                        </p:submenu>

                        <p:submenu label="Movimentações">
                            <p:menuitem value="Venda" url="/pages/venda.xhtml" />
                        </p:submenu>
                        
                        <p:submenu label="Mapa">
                            <p:menuitem value="Clientes" url="/pages/local.xhtml" />
                        </p:submenu>

                        <p:submenu label="Ajuda" icon="ui-icon-help">
                            <p:menuitem value="Sobre" url="/pages/sobre.xhtml"/>
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </div>
            <div id="conteudo">
                <ui:insert name="conteudo" />
            </div>
        </div>
    </h:body>
</html>