<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/modelo.xhtml">

    <ui:define name="conteudo">
        <p:dialog header="Autenticação" closable="false" draggable="false"
                  resizable="false" modal="true" visible="true">
            <h:form>
                <h:panelGrid columns="2">
                    <p:outputLabel for="cpf" value="CPF:" />
                    <p:inputMask id="cpf" mask="999.999.999-99" size="20"
                                 required="true" requiredMessage="O campo CPF é obrigatório" 
                                 value="#{autenticacaoBean.usuario.cpf}"/>

                    <p:outputLabel for="senha" value="Senha:" />
                    <p:password id="senha" maxlength="32" size="20" required="true"
                                requiredMessage="O campo Senha é obrigatório" 
                                value="#{autenticacaoBean.usuario.senha}"/>
                </h:panelGrid>

                <p:outputPanel style=" text-align:center">
                    <p:commandButton value="Entrar" update=":mensagem" 
                                     actionListener="#{autenticacaoBean.autenticar}"/>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>