<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/modelo.xhtml">

    <ui:define name="conteudo">
        <h:form id="formListagem">
            <p:panel header="Lista de Marcas">
                <p:dataTable id="tabela" 
                             emptyMessage="Nenhum registro encontrado."
                             paginator="true" 
                             value="#{marcaBean.marcas}" 
                             var="marca"
                             rows="5" paginatorPosition="top">

                    <f:facet name="header">
                        <p:commandButton value="Novo" 
                                         oncomplete="PF('dialogo').show();" 
                                         actionListener="#{marcaBean.novo}" 
                                         update=":formCadastro:painel">
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </f:facet>

                    <p:column headerText="Nome"
                              sortBy="#{marca.nome}"
                              filterBy="#{marca.nome}">
                        <h:outputText value="#{marca.nome}"/>
                    </p:column>

                    <p:column headerText="Opções">
                        <p:commandButton icon="ui-icon-trash"
                                         actionListener="#{marcaBean.excluir}" 
                                         update="mensagem :formListagem:tabela" >
                            <p:confirm header="Confirmação" 
                                       message="Deseja excluir a Marca?"
                                       icon="ui-icon-alert"/>
                            <f:attribute name="marcaSelecionado" value="#{marca}"/>
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-pencil" 
                                         actionListener="#{marcaBean.editar}" 
                                         update=":formCadastro:painel"
                                         oncomplete="PF('dialogo').show();" >
                            <f:attribute name="marcaSelecionado" value="#{marca}"/>
                            <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true" >
                    <center>
                        <p:commandButton value="Sim" 
                                         type="button" 
                                         styleClass="ui-confirmdialog-yes"
                                         icon="ui-icon-check"/>
                        <p:commandButton value="Não" 
                                         type="button" 
                                         styleClass="ui-confirmdialog-no"
                                         icon="ui-icon-close"/>
                    </center>
                </p:confirmDialog>              
            </p:panel>
        </h:form>

        <p:dialog header="Marca - Cadastro" 
                  widgetVar="dialogo" 
                  resizable="false" 
                  modal="true" 
                  closable="false">

            <h:form id="formCadastro">
                <h:panelGrid id="painel" columns="2">
                    <p:outputLabel value="Nome:" />
                    <p:inputText id="marca" 
                                 maxlength="50" size="30" 
                                 value="#{marcaBean.marca.nome}" 
                                 required="true" requiredMessage="Preencha o campo 'Marca'"/>
                </h:panelGrid>

                <p:outputPanel style=" text-align:center">
                    <p:commandButton value="Salvar" 
                                     actionListener="#{marcaBean.salvar}" 
                                     update=":mensagem :formCadastro:painel :formListagem:tabela" />
                    <p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>