<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/templates/modelo.xhtml">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Estados</title>
    </h:head>
    <p:layout fullPage="true">
        
        <p:layoutUnit position="north" size="50" resizable="false" closable="false" collapsible="false">
            <h:outputText value="Conteudo Top" />
        </p:layoutUnit>
        
        <p:layoutUnit position="south" size="100" resizable="false" closable="false" collapsible="false">
            <h:outputText value="conteúdo inferior" />
        </p:layoutUnit>
        
        <p:layoutUnit position="west" size="250" resizable="false" closable="false" collapsible="false">
            <h:outputText value="conteúdo esquerda" />
        </p:layoutUnit>
        
        <p:layoutUnit position="center" resizable="false" closable="false" collapsible="false">
            <h:outputText value="centro de conteúdo" />
        </p:layoutUnit>
        
    </p:layout>
    <h:body style="font-size: 13px"> 

    </h:body>
</html>